.city-drp-dwn {
    background: rgba(152, 87, 255, 0.18); 
    border: none;
    outline: none;
    padding: 9px;
    color: #ffffff;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
    border-radius: .5rem;
    font-size: small !important;
}
.text-web-center {
    text-align: -webkit-center;
}
.tbl-list {
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
    border-radius: .4rem;
    border: #494949 !important;
    color: rgb(50, 50, 50) !important;
}
.txt-shdo {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}





.fixed-btn {
    width: 9rem !important;
    height: 6rem !important;
    left: auto !important;
    right: 2rem !important;
    top: 3rem !important;
}

.w-7 {
    width: 7rem !important;
}

.fa-icon-h-w {
    width: 28px !important;
    height: 28px !important;
}

.row .sticky-container {
    width: 16% !important;
}

.sticky-container {
    padding: 0px;
    margin: 0px;
    position: fixed;
    right: -7.35rem;
    top: 20.2rem;
}

.sticky li {
    list-style-type: none;
    background-color: #7646fa;
    color: #efefef;
    border-radius: 1.5rem 0 0 1.5rem;
    height: 43px;
    padding: 0px;
    margin: 0px 0px 1px 0px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    filter: rgb(183, 138, 255);
    -webkit-filter: grayscale(60%);
}

.sticky li:hover {
    margin-left: -96px;
    filter: brightness();
    -webkit-filter: grayscale(0%);
}

.sticky li .fa-icon-h-w {
    float: left;
    margin: 5px 5px;
    margin-right: 10px;
    font-size: 2rem;
}

.sticky li p {
    float: left;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 43px;
    font-weight: 500;
}

.my-apk-clr {
    color: #7f1ff5bf !important;
}
.my-apk-clr-bg {
    background: linear-gradient(to bottom, #ff9787 0%, #ff4271 100%) !important;
}
.vndr-ipt {
    background: rgba(140, 90, 255, 0.18); 
    border: none;
    outline: none;
    padding: 9px;
    color: #ffffff;
    -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
    border-radius: .5rem;
    /* border: .01rem solid #fcb2b2; */
    font-size: small !important;
}
::placeholder {
    color: #fff;
}

.w-80 {
    width: 80% !important;
}
.w-39-5 {
    width: 39.5% !important;
}

.c-7-d{
    border-radius: .5rem;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.12);
}

.h-30 {
    height: 30rem !important;
}

.sbmt-btn {
    border-radius: 1.5rem !important;
    font-size: small !important;
    background-color: #006aed !important;
}
.l-p-f-t {
    font-size: x-small;
    color: #fb24b7e2;
}
.bg-pic {
    background-color:  #f9f9f9f2;
}
.my-btn {
    box-shadow: 2px 0 10px 0px rgba(0, 0, 0, 0.15);
}

