
/* 
.my-apk-clr {
  color: #fc0e49bf !important;
}
.my-apk-clr-bg {
  background-color: #FF5776 !important;
}
.vndr-ipt {
  background: rgba(255, 110, 148, .18); 
  border: none;
  outline: none;
  width: 75%;
  padding: 9px;
  color: #121212;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
  border-radius: .5rem;
  /* border: .01rem solid #fcb2b2; 
  font-size: small !important;
}

.c-7-d{
  border-radius: .5rem;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.12);
  height: 33rem;
}
.sbmt-btn {
  border-radius: 1.5rem !important;
  font-size: small !important;
}
.l-p-f-t {
  font-size: x-small;
  color: #fb24b7e2;
}
.bg-pic {
  background-color:  #f9f9f9f2;
}
.m-a-c {
  background: linear-gradient(to bottom, #ff9787 0%, #ff4271 100%);
  background-repeat: no-repeat;
}
.mbl-lgn-pg {
  border-radius: 1.7rem;
  height: 35rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-top: 3rem;

}
.lgn-ipt {
  background: rgba(255,255,255,0.4);
  border: none;
  display: block;
  outline: none;
  width: 80%;
  padding: 9px;
  color: #ffffff;
  -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
  border-radius: 2rem;
  border: .01rem solid #fcb2b2;
  text-align: center;
  font-size: small !important;
}
.lgn-ipt::-webkit-input-placeholder { color: #ffffff;} 
.lgn-ipt:-moz-placeholder { color: #ffffff; }
.lgn-ipt::-moz-placeholder { color: #ffffff; }
.lgn-ipt:-ms-input-placeholder { color: #ffffff; }

.lgn-btn {
  background-color: #fff;
  border: none;
  display: block;
  outline: none;
  width: 80%;
  padding: 9px;
  color: #fc2f62;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
  border-radius: 2rem;
  font-size: small !important;
  font-weight: 500;

}


.apl-logo-bg {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  background: transparent;
  display: block;
  box-shadow: 0 2px 10px 1px rgba(0,0,0,0.13);
  border-radius: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.hding-desc {
  padding-left: 3.5rem;
  padding-top: 1rem;
}
.a-b-desc {
  font-size: x-small;
  margin-left: 2rem;
  color: rgb(255, 242, 123);
}
.sing-up-desc {
  font-size: x-small;
  text-align: center;
  margin-top: 2rem;
}
.fgt-pswrd {
  font-size: x-small;
  display: block;
  text-align: center;
}
 */

 /* body {
  background: linear-gradient(to bottom, #ff9787 0%, #ff4271 100%);
  background-repeat: no-repeat;
  height: 100vh;
 } */
