/* .lir {
    position: relative;
    top: 14%;
    font-size: x-small !important;
    margin-right: 4.2rem;
}
.lgn-btn {
    background-color: #00e3a8 !important;
}
.nav-bg-color {
    background-color: #1f1935 !important;
    opacity: 1;
    margin: 0 2.8% !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.bg-red {
    background-color: #ff2612 !important;
    padding: 0.1rem 0.3rem;
}
.fs-10 {
    font-size: 0.8rem !important;
} */