.inpt-box {
    display: block;
    width: 80%;
    padding: 9px;
    text-align: center;
    border: .01rem solid #8326f5;
    border-radius: 2rem;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
  }
  .lgn-ipt {
    background: transparent;
    border: none;
    /* display: block; */
    outline: none;
    width: 83%;
    /* padding: 9px; */
    color: #ffffff;
    /* -webkit-box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.07); 
    border-radius: 2rem;*/
    text-align: center;
    font-size: small !important;
  }